<div class="dialog">
    <md-dialog-container>
        <form>
            <md-list>
                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="Title" value="" required>
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="authorFirstName" value="">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="authorLastName" value="">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="pageNum" value="" type="number">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="issuer" value="">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="issueYear" value="">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="publishDate" value="">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="publishDate" value="" type="number">
                    </md-input-container>
                </md-list-item>

            </md-list>
        </form>
    </md-dialog-container>

</div>