<div class="dialog">

        <form #form="ngForm" (submit)="addBook(form.value)">
            <md-list>
                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="Title" value="test" name="title" ngModel required maxlength=30>
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="authorFirstName" value="test" ngModel name="authorFirstName" required maxlength="20">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="authorLastName" value="test" ngModel name="authorLastName" required maxlength="20">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="pageNum" value="" type="number" ngModel name="pageNum" required max=1000 min=0>
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="issuer" value="test" name="issuer" ngModel maxlength="30">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="issueYear" value="test" name="issueYear" ngModel [min]="1800" [max]="2017">
                    </md-input-container>
                </md-list-item>

                <md-list-item>

                  <md-input-container>
                    <input mdInput [mdDatepicker]="picker" placeholder="publishDate" name="publishDate" [min]="minD">
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                  </md-input-container>
                  <md-datepicker #picker></md-datepicker>

                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput placeholder="ISBN" value="444444" type="number" name="ISBN" ngModel>
                    </md-input-container>
                </md-list-item>

            </md-list>
            <div>
              <button md-button type="submit" [disabled] = "form.invalid">Добавить</button>
            </div>

        </form>
        {{ form.value | json }}
</div>
