<md-toolbar color="primary">
    <ul style=" list-style: none;">
        <li style="float: left; padding: 10px; margin: 10px;">Книжная полка</li>
        <li style="float: left; padding: 10px; margin: 10px;">
            <button md-button (click) = "addBook()">Добавить <i class="material-icons md18">add</i></button>
        </li>
        <li style="float: left; padding: 10px; margin: 10px;">
                Поиск: <input mdInput placeholder="">
        </li>
    </ul>
</md-toolbar>
<section class="bookshelf">
    <md-grid-list cols="3">
        <md-grid-tile *ngFor="let book of books">
            <app-book [book] = book></app-book>
        </md-grid-tile>
    </md-grid-list>
</section>
<footer>

</footer>
