<div class="dialog">
        <form #form="ngForm" (submit)="addBook(form.value)">
            <md-list>
                <md-list-item>
                    <md-input-container>
                        <input mdInput [placeholder]="data.title || 'Title'" [value]="data.title" name="title" ngModel [disabled]="!!data.title" required maxlength=30>
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput [placeholder]="data.authorFirstName || 'authorFirstName'" [value]="data.authorFirstName" ngModel name="authorFirstName" required maxlength="20">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput [placeholder]="data.authorLastName || 'authorLastName'" [value]="data.authorLastName" ngModel name="authorLastName" required maxlength="20">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput [placeholder]="data.pageNum || 'pageNum'" [value]="data.pageNum" type="number" ngModel name="pageNum" required max=1000 min=0>
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput [placeholder]="data.issuer || 'Issuer'" [value]="data.issuer" name="issuer" ngModel maxlength="30">
                    </md-input-container>
                </md-list-item>

                <md-list-item>
                    <md-input-container>
                        <input mdInput [placeholder]="data.issueYear || 'Year Issued'" type="number" [value]="data.issueYear" name="issueYear" #yearInput="ngModel" ngModel [min]="1800" [max]="2017" appYearValidation>
                        <md-error *ngIf="yearInput.hasError('outOfBounds')">1800 до 2017</md-error>
                    </md-input-container>
                </md-list-item>

                <md-list-item>

                  <md-input-container>
                    <input mdInput [mdDatepicker]="picker" placeholder="publishDate" name="publishDate" [min]="minD" #dateValidity="ngModel" ngModel appDateValidation>
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                    <md-error *ngIf="dateValidity.hasError('dateOutOfBounds')">От 01.01.1800 до сегодня. dd/mm/yyyy</md-error>
                  </md-input-container>
                  <md-datepicker #picker></md-datepicker>

                </md-list-item>

                <md-list-item>
                    <md-input-container>
                      <input mdInput [placeholder]="data.ISBN || 'ISBN'" [value]="data.ISBN" type="number" name="ISBN" ngModel pattern="^\d+[-| ]?\d+[-| ]?\d+[-| ]?\d+[-| ]?\d+$">
                      <md-error>Следуйте стандарту ISBN-10 или ISBN-13.</md-error>
                    </md-input-container>

                </md-list-item>

            </md-list>
            <md-dialog-actions>
              <button md-button type="submit" [disabled] = "form.invalid">{{data ? 'Отредактировать' : 'Добавить'}}</button>
            </md-dialog-actions>

        </form>
</div>
